.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $black400;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal__content {
    background: $whiteMain;
    padding: 32px;
    border-radius: $border-radius8;
    width: 600px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal__title{
    color: $blackMain;
    font: $fontH3;
}

.modal__form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal__buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.form__title{
    color: $blackMain;
    font: $fontP3;
}

.form__file{
    cursor: pointer;
    color: $prplMain;
    font: $fontP3;
}

.cloud{
    margin-bottom: 4px;
}

.form__load{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px dashed  $black300;
    border-radius: $border-radius8;
    

    height: 170px;
    gap: 4px;
}